body{
	
	background-color:white;
	height:100%;
	width:100%;
	border:.1em solid black;
	.head{
		height:3em;
		background-color:#57140B;
	}
	.main{

		height:385px;
		background-color:#ED462F;

	}
	.quad {
		padding: 0 10px;
		background-color:#fff;

		div  {
			width:100%;
			height:225px;
			background-color:#57140B;
			margin-top: 64px;
			margin-bottom: 32px;
		}
	}

	.biggie{
		background-color:#240402;
		height:917px;
	}
	.inside{
		height:412px;
		 background-color:#DA7F7C;
		 border-top:140px solid #ED462F;
		 border-bottom:70px solid #ED462F;
		 border-right:32px solid #ED462F;
		 border-left:32px solid #ED462F;
		 position: relative;
		 z-index: 500;
	}
	.footer{
		height:204px;
		background-color:#57140B;
		 position: relative;
		 z-index: 1;

	}
}
 @media screen and (max-width: 450px) and (min-width: 400px) {
 }
 @media screen and (min-width: 600px) and (max-width: 749px) {
}
